:root {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Overlock", sans-serif;
  --primary-gradient: linear-gradient(to left, #127fff, #0067ff);
  --primary-blue: #0d6efd;
  --grey-300: #dee2e7;
  --grey-500: #8b96a5;
  --hover-color: #e5f1ff;
}
